.project-card.glorified {
  border-color: #fde047;
  border-width: 2px;
  box-shadow: 0 0 15px rgba(253, 224, 71, 0.5);
}

.project-card.marvellous {
  border-color: #ec4899;
  border-width: 2px;
  box-shadow: 0 0 15px rgba(236, 72, 153, 0.5);
}

.project-card.extraordinary {
  border-color: #8b5cf6;
  border-width: 2px;
  box-shadow: 0 0 15px rgba(139, 92, 246, 0.5);
}
